EXPO_PUBLIC_SUPABASE_URL=https://mfigfztvbqsemhesdsvi.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEYeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1maWdmenR2YnFzZW1oZXNkc3ZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2MzkyMDksImV4cCI6MjA5MTIxNTIwOX0.rQVjxS5Dck3uNc4fCFlOl_YrU40xtykGqwsKgqLco1w
